<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnonymousChat</title>
</head>
<body>
    <h1 id="ConnectionStatus" style="text-align: center; color: chocolate">尚未连接服务器</h1>
    <div style="text-align: center">
        输入用户名:
        <input id="username" placeholder="匿名名称"></input>
        <button id="getConnection" onclick="getConnection()">连接</button>
    </div>
    <div>
        <h3>当前在线人数：</h3>
        <h3 id="onlineNum">不知道</h3>
        <button id="showOnline" onclick="showOnline()">查看在线用户</button>
    </div>
    <div>
        <textarea id="inputBox" cols="50" rows="5" placeholder="输入你要发送的消息"></textarea>
        <br>
        <button onclick="sendMessage()">发送给</button>
        <select id="selector">
            <option>All</option>
        </select>
    </div>
    <div id="history">

    </div>
    <script>
        var webSocket;
        var username;
        var onlineUsrs;
        function closeConnection() {
            webSocket.close();
            setInnerText("getConnection", "连接");
            document.getElementById("getConnection").onclick = getConnection;
            now = new Date();
            appendInnerText("history",
                "<div style='color: red'>" + now.toLocaleDateString() + " " + now.toLocaleTimeString() + " >> " + username + "下线了</div>");
            onlineUsrs = null;
        }

        function closeConnectionWithoutIndicator() {
            webSocket.close();
            setInnerText("getConnection", "连接");
            document.getElementById("getConnection").onclick = getConnection;
            onlineUsrs = null;
        }

        function getConnection() {
            username = document.getElementById("username").value;
            webSocket = new WebSocket("ws://localhost:8080/chat/" + document.getElementById("username").value);
            webSocket.onopen = function () {
                console.log("已经连通了websocket");
                setInnerText("ConnectionStatus", "连接服务器成功");
                setInnerText("getConnection", "断开连接");
                document.getElementById("getConnection").onclick = closeConnection;
            };
            webSocket.onclose = function () {
                console.log("连接已关闭...");
                setInnerText("ConnectionStatus", "连接服务器失败");
                setInnerText("onlineNum", "不知道");
            };
            webSocket.onmessage = handle;
        }

        function handle(msg) {
            var msgString = msg.data;
            var obj = JSON.parse(msgString);
            console.log(obj.msgType, obj.from, obj.to, obj.msgContent);
            if(obj.msgType == "ConnectionRejected") {
                closeConnectionWithoutIndicator();
                confirm("连接请求被拒绝\n原因：" + obj.reason);

                return;
            }
            if(obj.msgType == "Normal") {
                appendInnerText("history",
                    "<div style='color: darkblue'>" + obj.date + " >> " + obj.from + " 对 " + obj.to + " 说：</div> " +
                    obj.msgContent + "<br>");
            }
            if(obj.msgType == "ConnectionEstablished") {
                appendInnerText("history",
                    "<div style='color: green'>" + obj.date + " >> " + obj.name + "上线了</div>");
                onlineUsrs = obj.onlineUsers;
                setInnerText("onlineNum", obj.onlineUsers.length);
                updateSelector();
            }
            if(obj.msgType == "ConnectionCut") {
                appendInnerText("history",
                    "<div style='color: red'>" + obj.date + " >> " + obj.name + "下线了</div>");
                onlineUsrs = obj.onlineUsers;
                setInnerText("onlineNum", obj.onlineUsers.length);
                updateSelector();
            }
        }

        function setInnerText(id, context) {
            document.getElementById(id).innerHTML = context;
        }

        function appendInnerText(id, context) {
            document.getElementById(id).innerHTML = context + document.getElementById(id).innerHTML;
        }
        function sendMessage() {
            let date = new Date();
            let msg = {
                "msgType": "Normal",
                "msgContent": document.getElementById("inputBox").value,
                "from": username,
                "to": document.getElementById("selector").value,
                "date": date.toLocaleDateString() + " " + date.toLocaleTimeString(),
            };
            webSocket.send(JSON.stringify(msg));
            document.getElementById("inputBox").value = "";
        }
        function showOnline() {
            var s = "";
            for(var i = 0; i < onlineUsrs.length; i++) {
                s += onlineUsrs[i] + "\n";
            }
            confirm(s);
        }

        function updateSelector() {
            var s = "<select>";
            s += "<option>All</option>\n";
            for(var i = 0; i < onlineUsrs.length; i++) {
                s += "<option>" + onlineUsrs[i] + "</option>\n";
            }
            s += "</select>"
            setInnerText("selector", s);
        }

    </script>
</body>
</html>